# Register your app at https://dev.fitbit.com/apps
consumer:
  key:    'xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx'
  secret: 'xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx'

# OAuth credentials for each user
#
# Easiest way to generate these is with python:
#
# 1. install `pip`
# 2. `sudo pip install fitbit`
# 3. python /Library/Python/2.7/site-packages/fitbit/gather_keys_cli.py your_consumer_key your_consumer_secret
#
users:
  gabe:
    token:  'xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx'
    secret: 'xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx'

  bonnie:
    token:  'xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx'
    secret: 'xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx'
